<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <title>Upload Data File Excel</title>
    <style>
      hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    </style>
  </head>
  <body>
    <h1>Upload Data File Excel</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="excel" accept=".xlsx" />
      <button type="submit">Submit</button>
    </form>
    <form id="updateForm" action="/update" method="post">
      <button type="button" onclick="updateLocation()">Update location</button>
      <div id="loading" style="display: none">Loading...</div>
    </form>
    <form id="distanceForm" action="/distance" method="post">
      <button type="button" onclick="getDistance()">Tool for maps</button>
      <div id="loading2" style="display: none">Loading...</div>
    </form>
    <form action="/export" method="get">
      <button type="submit">Export Data</button>
    </form>
    <form action="/export-failed" method="get">
      <button type="submit">Export Failed</button>
    </form>

    <ul>
      <% data.forEach((item, index) => { %>
      <li><%= index + 1 %>.</li>
      <li>sell_id: <%= item.sell_id %></li>
      <li>co_add: <%= item.co_add %></li>
      <li>coe_add: <%= item.coe_add %></li>
      <li>assignee: <%= item.assignee %></li>
      <% if (item.distance) { %>
      <li>distance: <%= item.distance %></li>
      <% } %> <% if (item.directionsLink) { %>
      <li>
        directions:
        <a href="<%= item.directionsLink %>" target="_blank">here</a>
      </li>
      <% } %>
      <hr />
      <% }) %>
    </ul>

    <script>
      function updateLocation() {
        document.getElementById("loading").style.display = "block";
        document.getElementById("updateForm").submit();
      }

      function getDistance() {
        document.getElementById("loading2").style.display = "block";
        document.getElementById("distanceForm").submit();
      }

      // Menambahkan event listener untuk menyembunyikan indikator loading saat menerima sinyal dari file server.js
      window.addEventListener("load", () => {
        const app = require("express")();
        app.on("hideLoading", () => {
          document.getElementById("loading2").style.display = "none";
        });
      });
    </script>
  </body>
</html>
